
body{
    background-image: url("../asset/background-2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header{
    h1{
       color: rgb(255, 255, 255);
       font-size: 4rem;
       font-family: 'Josefin Sans', sans-serif;
       text-align: center;
    }
}

//drop-down-list
//mobie nav style
.menu-content {
    width: 300px;
    max-height: 0;
    overflow: hidden;
}
.collapsible-menu {
    background-color: rgba(255, 255, 255, 0.568);
    padding: 0px 40px;
    border-bottom: 3px solid #c11959;
    box-shadow: 2px 2px 3px white;
    position: fixed;
    top: 15%;
    right: 2%;
    z-index: 10;
    letter-spacing: 2px;
    label {
        font-family: 'Roboto', sans-serif;
        color: #c11959;
        font-weight: 600;
        font-size: 1.7rem;
        display: block;
        cursor: pointer;
        padding: 5% 0%;
        opacity: 0.8;
        text-align: center;
        transition: 0.5s;
        padding-bottom: 1%;
        &:hover,
        &:focus{
        scale: 1.1;
        color: #464242;
        }
    }   
    input#menu {
        display: none;
    }
    ol{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    li{
        color: #464242;
        font-family: 'Roboto', sans-serif;
        line-height: 2;
        text-decoration: underline dotted;
        padding-left: 5%;
        cursor: pointer;
    }
}
/* Toggle Effect */
input:checked ~ .menu-content {
    max-height: 100%;
}
//drop down style ends

//main
.wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 350px;
    position: relative;
}

.image-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 350px;
    
}
.overlay{
    z-index: 5;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    text-align: center;
    flex-direction: column;
    
    p{
        font-size: 1.2rem;
        color: white;
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
        padding: 1%;
    }
    &:hover{
        opacity: 1;
        }
}
h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: white;
}
.buttons{
    display: flex;
    justify-content: center;
    button{
        border: none;
        padding: 5px;
        font-size: 80px;
        height: 130px;
        width: 130px;
        box-shadow: 0 2px 4px rgb(0, 0, 0);
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 3% 4% 0% 4%;;
        border-radius: 50%;
            &:hover{
                scale: 1.1;
            }
        

    }
    .no{
        background-color: white;
        color: #c11959;
    }
    .yes{
        background: #f390d7;
        background: linear-gradient(90deg,#f1ceda 0%, #df2169 80%);
        background: -webkit-linear-gradient(90deg,#f1ceda 0%, #df2169 80%);
        background: -moz-linear-gradient(90deg,#f1ceda 0%, #df2169 80%);
        color: white;
    }
}

footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

@media (max-width: 850px) {
    header{
        h1{
            background-color: #00000024;
            margin-top: 5%;
            font-size: 2.2rem;  
        }
    }

    .collapsible-menu{ 
        padding: 5px;
        top: 10%;
        label{
            font-size: 1.2rem;
        }
    }

    .buttons{
        button{
        margin-top: 5%;
        font-size: 70px;
        height: 110px;
        width: 110px;
        }
    }
  }

@media (max-width: 500px){
    .wrapper{
        margin-top: 15%;
        width: 60%;
    }
    .collapsible-menu{
        left: 2%;
    }
}