
body{
    background-image: url("../asset/background-main.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header{
    h1{
       color: rgb(255, 255, 255);
       font-size: 4rem;
       font-family: 'Rowdies', cursive;
       text-align: center;
       padding-top: 5%;
    }
}

//drop-down-list
//mobie nav style
.menu-content {
    padding: 0 0 0 150px;
    max-height: 0;
    overflow: hidden;
}
.collapsible-menu {
    background-color: rgba(255, 255, 255, 0.568);
    padding: 0px 40px;
    border-bottom: 3px solid #cc82db;
    box-shadow: 2px 2px 3px white;
    position: fixed;
    top: 4%;
    right: 2%;
    z-index: 10;
    letter-spacing: 2px;
    label {
        font-family: 'Roboto', sans-serif;
        color: #a864be;
        font-weight: 600;
        font-size: 1.7rem;
        display: block;
        cursor: pointer;
        padding: 5% 0%;
        opacity: 0.8;
        text-align: center;
        transition: 0.5s;
        padding-bottom: 1%;
        &:hover,
        &:focus{
        scale: 1.1;
        }
    }   
    input#menu {
        display: none;
    }
    ul {
    list-style-type: none;
    padding: 0;
    }
    li{
        color: #e08cfc;
        font-family: 'Roboto', sans-serif;
    }
}

/* Toggle Effect */
input:checked ~ .menu-content {
    max-height: 100%;
}
//drop down style ends


//main
.image-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 259px;
    height: 384px;
}

h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #777777;
}
.buttons{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    button{
        border: none;
        padding: 5px;
        font-size: 80px;
        height: 130px;
        width: 130px;
        box-shadow: 0 2px 4px rgb(0, 0, 0);
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 5%;
        border-radius: 50%;
            &:hover{
                scale: 1.1;
            }
        

    }
    .no{
        background-color: white;
        color: #e08cfc;
    }
    .yes{
        background: #f390d7;
        background: linear-gradient(90deg,#f1ceda 0%, #e08cfc 80%);
        background: -webkit-linear-gradient(90deg,#f1ceda 0%, #e08cfc 80%);
        background: -moz-linear-gradient(90deg,#f1ceda 0%, #e08cfc 80%);
        color: white;
    }
}