body {
  background-image: url("../asset/background-2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.menu-content {
  width: 300px;
  max-height: 0;
  overflow: hidden;
}

.collapsible-menu {
  background-color: rgba(255, 255, 255, 0.568);
  padding: 0px 40px;
  border-bottom: 3px solid #c11959;
  -webkit-box-shadow: 2px 2px 3px white;
          box-shadow: 2px 2px 3px white;
  position: fixed;
  top: 15%;
  right: 2%;
  z-index: 10;
  letter-spacing: 2px;
}
.collapsible-menu .list-number {
  font-size: 1.2rem;
}
.collapsible-menu label {
  font-family: "Roboto", sans-serif;
  color: #c11959;
  font-weight: 600;
  font-size: 1.7rem;
  display: block;
  cursor: pointer;
  padding: 5% 0%;
  opacity: 0.8;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-bottom: 1%;
}
.collapsible-menu label:hover, .collapsible-menu label:focus {
  scale: 1.1;
  color: #464242;
}
.collapsible-menu input#menu {
  display: none;
}
.collapsible-menu ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.collapsible-menu li {
  color: #464242;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  padding-left: 5%;
  cursor: pointer;
}

/* Toggle Effect */
input:checked ~ .menu-content {
  max-height: 100%;
}

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  position: relative;
}

.image-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 350px;
}

.overlay {
  z-index: 5;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.overlay p {
  font-size: 1.2rem;
  color: white;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  padding: 5%;
}
.overlay:hover {
  opacity: 1;
}

h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: white;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buttons button {
  border: none;
  padding: 5px;
  font-size: 80px;
  height: 130px;
  width: 130px;
  -webkit-box-shadow: 0 2px 4px rgb(0, 0, 0);
          box-shadow: 0 2px 4px rgb(0, 0, 0);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 3% 4% 0% 4%;
  border-radius: 50%;
}
.buttons button:hover {
  scale: 1.1;
}
.buttons .no {
  background-color: white;
  color: #c11959;
}
.buttons .yes {
  background: #f390d7;
  background: -webkit-gradient(linear, left top, right top, from(#f1ceda), color-stop(80%, #df2169));
  background: linear-gradient(90deg, #f1ceda 0%, #df2169 80%);
  background: -moz-linear-gradient(90deg, #f1ceda 0%, #df2169 80%);
  color: white;
}

footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

@media (max-width: 850px) {
  header h1 {
    background-color: rgba(0, 0, 0, 0.1411764706);
    margin-top: 5%;
    font-size: 2.2rem;
  }
  .collapsible-menu {
    padding: 5px;
    top: 10%;
  }
  .collapsible-menu .list-number {
    font-size: 1rem;
  }
  .collapsible-menu label {
    padding-top: 1%;
    font-size: 1.2rem;
  }
  .buttons button {
    margin-top: 5%;
    font-size: 70px;
    height: 110px;
    width: 110px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    margin-top: 15%;
    width: 60%;
  }
  .collapsible-menu {
    left: 2%;
  }
  .overlay p {
    font-size: 0.8rem;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}